APP_NAME="POS"
APP_ENV=local
APP_KEY=base64:ANSv4/9AEg47RRQpQAQdZ2g2JSCV5asFV9Qy4MQW2Oc=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="pos"
DB_USERNAME="nafis"
DB_PASSWORD="Public12345#"

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=r2
QUEUE_CONNECTION=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

CLOUDFLARE_R2_ACCESS_KEY_ID="95be059d-BHUL-BAL-KEY-2c651142a5cc7e"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="95801151762410c409-BHUL-BAL-KEY-e66f6eff7ca93ad41d7b4"
CLOUDFLARE_R2_REGION=auto
CLOUDFLARE_R2_BUCKET="dev"
CLOUDFLARE_R2_URL="media.mohimaa.shop"
CLOUDFLARE_R2_ENDPOINT="https://86bc2167292252ed3e189fb6c11fa46a.r2.cloudflarestorage.com"
